@import "../../global.scss";
.main {
    &>*{
        font-family: $font;
        color: gray;
    }
    
    .comp{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 58rem;
        gap:1.5rem;
        margin-top: 1rem;
        margin-left: 10rem;
    }
    
    .header {
        font-size: .6rem;
        display: flex;
        gap: 2.5rem;
        margin-left: 30%;
        margin-top: 1.5%;       
    }
}