@import "../../global.scss";
*{
  color: gray;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

* {
  font-family: $font;
}

.header {
  margin-top: -53.7rem;
  height: 6rem;
  display: flex;
  gap: 25rem;
  z-index: 10;

  &>*{
    margin-top: 2.5rem ;
  }

  .left {
    display: flex;
    gap:-1rem;
    img {
      height: 6rem;
      width: 6rem;
      margin-top: -2.1rem;
    }
    h1{
      margin-top: .3rem;
    font-size: 1.5rem;
    margin-left: -.3rem;
      color: rgb(217, 211, 211);
    }

    h1 {
      font-weight: 2rem;
    }
  }

  .middle {
    font-size: .6rem;
    display: flex;
    gap: 2rem;
  }

  .right {

    .icon{
      position: absolute;
      top:3.3rem;
      right:21.3rem;
      z-index: 2;
      color: gray;
    }
    .btn {
      margin-left: 8.5rem;
      position: relative;
      background-color: $bcolor;
      height: 2.7rem;
      width: 10rem;
      border: none;
      outline: none;
      border: .1rem solid gray;
      border-radius: 1.5rem;
      padding: 1rem;

      @include placeholder {
        font-weight: 1000;
        padding-left: 1rem;
        font-family: $font;
        color: gray;
    }

    }
  }
}