@import "../../../global.scss";

.fav{
    font-size: .7rem;

    &>:nth-child(4){
        margin-bottom: 0;
    }

    h1{
        font-weight:500;
        color: beige;
        margin-bottom: 1rem;
    }
    .btn{
        @include rsbtn;
    }
}