.singlecomponent{
    display: flex;
    flex-direction: row;
    gap:.8rem;
    margin-bottom: .5rem;


    .left{
        img{
            border-radius: .5rem;
            height: 5rem;
            width: 3rem;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        gap:.8rem;

        .top{
            h1{
                margin-top: .5rem;
                font-weight: 300;
                color: beige;
                font-size: .7rem;
                margin-bottom: .2rem;
            }
            h2{
                font-size: .7rem;
                margin-left: .2rem;
            }
        }
        .down{
            display: flex;

            h2{
                font-weight: 300;
                color: beige;
                font-size: .8rem;
                margin-top: .4rem;
                margin-left: .5rem;
            }
            img{
                height: 1.8rem;
                width: 1.8rem;
            }
        }
    }
}